@import "./_overrides.scss";

.music-lib-page__r1 {
  padding-top: 3.2rem;
  padding-bottom: $spacing-05;
}

.kai-fav-icon {
  cursor: pointer;
}

.kai-fav-icon > svg {
  fill: #da1e28;
}

.kai-table-album-img-link {
  height: 75px;
  width: 75px;
}

.kai-title-link {
  color: #78a9ff;
  text-decoration: unset;
  font-weight: 550;
}
