.bx--data-table th {
  background-color: #525252;
}

.kai-move-up-icon > svg,
.kai-move-down-icon > svg {
  fill: #f4f4f4;
}

.kai-clickable-icon {
  cursor: pointer;
}

.kai-delete-song-modal {
  position: absolute;
  left: -100px;
  display: none;
}

.kai-delete-song-modal.bx--modal.is-visible {
  display: flex;
}

.kai-edit-song-modal {
  display: none;
}

.kai-edit-song-modal.bx--modal.is-visible {
  display: flex;
}
